body{
    border: 15px solid black;
    outline-style: solid;
    outline-color: rgb(188, 72, 72);
    outline-width: 2em;

  margin: 0;
  font-family:  Helvetica;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
   }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   }
  
  li a:hover:not(.active) {
    background-color: #ddd;
  }
  
  li a.active {
    color: white;
    background-color: #04AA6D;
  }

  li {
    border-right: 1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }


* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}
* {
  box-sizing: border-box;
}


.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  -ms-flex: 50%; 
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}


